
.chameli{
    box-sizing: border-box !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 1px !important;
    background: linear-gradient(rgba(240, 248, 255, 0.99), rgba(255, 255, 255, 0.97));
}
.core-team {
    padding-left: 7.5% !important;
    padding-right: 7.5% !important;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team-member img {
    width: 100%;
    height: auto;
    display: block;
    background: rgba(0,15, 152, 0.1);
    border-radius: 10px;
    cursor: pointer;
}

.team-member {
    flex-basis: 269px;
    position: relative;
    margin-bottom: 20px;
    align-items: center;
    padding-right: 1px;
}

.caption { 
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: rgba(51, 62, 100, 0.8);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: #fdf5e8;
}

.caption p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.core-title {
    box-sizing: border-box;
    padding-top: 17.5px;
    padding-bottom: 2%;
    font-size: 2rem;
    font-weight: 999;
    color: #333e64;
    /* margin-top: 20px; */
    margin-bottom: 0;
    text-align: left;
    padding-left: 7.5%;
}

@media (max-width: 633px) {
    .core-team{
        padding-left: 20% !important;
    }
}