.footer {
    background-color: #333e64;
    color: #ffffff;
    text-align: center;
    padding: 3px 0;
    font-size: 1rem;
    border-top: 1px solid #ffffff20;
  }
  
  .footer p {
    margin: 0;
    font-weight: 420;
    letter-spacing: 0.5px;
  }
  
  @media (max-width: 1000px) {
    .footer p {
      margin: 0;
      font-weight: 369;
      letter-spacing: 0.35px;
      padding-bottom: 2px;
    }
    .footer{
      font-size: 0.8rem;
    }
  }

  @media (max-width: 750px) {
    .footer p {
      margin: 0;
      font-weight: 333;
      letter-spacing: 0.2px;
      max-height: 10px;
      padding-bottom: 2px;
    }
    .footer{
      font-size: 0.69rem;
    }
  }